In [1]:
import numpy as np
import pandas as pd
import datetime as datetime

# 1. Read the datasets

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [60]:
df_train = pd.read_csv("/content/drive/MyDrive/DBL Process Mining/Data/Split/bpi2017_train.csv", parse_dates = ['time:timestamp'])
df_val = pd.read_csv("/content/drive/MyDrive/DBL Process Mining/Data/Split/bpi2017_val.csv", parse_dates = ['time:timestamp'])
df_test = pd.read_csv("/content/drive/MyDrive/DBL Process Mining/Data/Split/bpi2017_test.csv", parse_dates = ['time:timestamp'])
df_train

        Unnamed: 0       Action  ... OfferedAmount           OfferID
0                0      Created  ...           NaN               NaN
1                1  statechange  ...           NaN               NaN
2                2      Created  ...           NaN               NaN
3                3      Deleted  ...           NaN               NaN
4                4      Created  ...           NaN               NaN
...            ...          ...  ...           ...               ...
621126      621126     Obtained  ...           NaN               NaN
621127      621127  statechange  ...           NaN               NaN
621128      621128  statechange  ...           NaN               NaN
621129      621129  statechange  ...           NaN  Offer_1248413119
621130      621130      Deleted  ...           NaN               NaN

[621131 rows x 20 columns]

## Assign a postion number to each row/process

In [61]:
def assign_position(df: pd.DataFrame) -> pd.DataFrame:
    # Count number of processes per trace/ID
    count_lst = df.groupby('case:concept:name').count()['lifecycle:transition'].tolist()
    position_lst_1 = [list(range(1, i + 1)) for i in count_lst]
    position_lst = []
    for i in position_lst_1:
        for j in i:
            position_lst.append(j)
    df['position'] = position_lst
    return df

In [62]:
df_train = assign_position(df_train)
df_val = assign_position(df_val)
df_test = assign_position(df_test)

# 2. Baseline Case Prediction (Only on Training Dataset)

## Select the most common action per position

In [77]:
position_df = df_train.groupby('position').agg(pd.Series.mode)['concept:name'].to_frame()

In [105]:
# for positions where mode has > 1 position name, save only the 1st one to the column 'one'
position_df['one'] = position_df['concept:name'].copy()for i in range(1, len(position_df)):
  if type(position_df['concept:name'].loc[i])!= str:
    position_df['one'].loc[i] = position_df['concept:name'].loc[i][0]

## Merge the training dataset with with the predicted actions based on their position

In [107]:
df_train = pd.merge(df_train, position_df, on='position')
df_train

        Unnamed: 0    Action  ...          concept:name_y                     one
0                0   Created  ...  W_Validate application  W_Validate application
1               22  Obtained  ...  W_Validate application  W_Validate application
2               47   Created  ...  W_Validate application  W_Validate application
3               65  Released  ...  W_Validate application  W_Validate application
4              105   Created  ...  W_Validate application  W_Validate application
...            ...       ...  ...                     ...                     ...
621126       87223  Obtained  ...          W_Handle leads          W_Handle leads
621127       87224  Obtained  ...          W_Handle leads          W_Handle leads
621128       87225  Released  ...          W_Handle leads          W_Handle leads
621129       87226  Obtained  ...          W_Handle leads          W_Handle leads
621130       87227   Deleted  ...          W_Handle leads          W_Handle leads

[621131 rows x 23 columns]

In [109]:
# calculate what proportion of predictions is correct
# considering that we are only looking at 'one' - the first position in mode - the accuracy should be viewed
# here as an orientational indication, not precise measure
accuracy_train = len(df_train[df_train['concept:name_x'] == df_train['one']])/len(df_train)
accuracy_train

0.1793116105942225

# 3. Apply pre-computed prediction to Validation and Test datasets

## Validation dataset

In [114]:
# Count number of processes per trace/ID
df_val = pd.merge(df_val, position_df, on='position')

df_val.sort_values(by=['time:timestamp'], inplace=True)
df_val.rename(columns = {"concept:name_y":"baseline_action_pred", "concept:name_x":"concept:name"}, inplace=True)
df_val

        Unnamed: 0       Action  ...    baseline_action_pred                     one
0                0      Created  ...  W_Validate application  W_Validate application
4078             1  statechange  ...  W_Validate application  W_Validate application
8156             2      Created  ...  W_Validate application  W_Validate application
109913          84      Created  ...  W_Validate application  W_Validate application
112456          85  statechange  ...  W_Validate application  W_Validate application
...            ...          ...  ...                     ...                     ...
65055       149271  statechange  ...  W_Validate application  W_Validate application
69111       149272      Deleted  ...  W_Validate application  W_Validate application
3925        149201  statechange  ...  W_Validate application  W_Validate application
8003        149202  statechange  ...  W_Validate application  W_Validate application
12081       149203      Deleted  ...  W_Validate application  W_Validate application

[155001 rows x 23 columns]

In [115]:
# calculate what proportion of predictions is correct
accuracy_val = len(df_val[df_val['concept:name'] == df_val['one']])/len(df_val)
accuracy_val

0.17842465532480437

## Test dataset

In [116]:
df_test = pd.merge(df_test, position_df, on="position")
df_test.sort_values(by=['time:timestamp'], inplace=True)
df_test.rename(columns={"concept:name_y":"baseline_action_pred", "concept:name_x":"concept:name"}, inplace=True)
df_test

       Unnamed: 0       Action  ...    baseline_action_pred                     one
0               0      Created  ...  W_Validate application  W_Validate application
751             1  statechange  ...  W_Validate application  W_Validate application
1502            2      Created  ...  W_Validate application  W_Validate application
17931          25      Created  ...  W_Validate application  W_Validate application
18470          26      Created  ...  W_Validate application  W_Validate application
...           ...          ...  ...                     ...                     ...
24967        3727      Deleted  ...  W_Validate application  W_Validate application
25203        3728      Created  ...  W_Validate application  W_Validate application
25431        3729     Obtained  ...  W_Validate application  W_Validate application
25646        3730  statechange  ...  W_Validate application  W_Validate application
25852        3731     Released  ...  W_Validate application  W_Validate application

[28706 rows x 23 columns]

In [117]:
# calculate what proportion of predictions is correct
accuracy_test = len(df_test[df_test['concept:name'] == df_test['one']])/len(df_test)
accuracy_test

0.15508952832160525

### For easy exploration/correctness verification:

In [ ]:
# Just dropping columns for easier inspection, this shouldn't go to the final version
# pred_df.drop(pred_df.columns.difference(['Action', 'concept:name_x', 'baseline_action_pred', 'position', 'lifecycle:transition']), 1, inplace=True)
# Save to csv for lookup
# pred_df.to_csv('baseline_prediction.csv')