In [13]:
import numpy as np
import pandas as pd
import datetime as datetime

# 1. Read the datasets

In [14]:
df_train = pd.read_csv("bpi2017_train.csv", parse_dates = ['time:timestamp'])
df_val = pd.read_csv("bpi2017_val.csv", parse_dates = ['time:timestamp'])
df_test = pd.read_csv("bpi2017_test.csv", parse_dates = ['time:timestamp'])
df_train

,Unnamed: 0,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,0,Created,User_1,A_Create Application,Application,Application_1691306052,complete,2016-01-01 10:16:11.500000+00:00,Home improvement,New credit,Application_1691306052,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,statechange,User_1,A_Submitted,Application,ApplState_284636842,complete,2016-01-01 10:16:11.549000+00:00,Home improvement,New credit,Application_1691306052,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Created,User_1,W_Handle leads,Workflow,Workitem_831373279,schedule,2016-01-01 10:16:11.740000+00:00,Home improvement,New credit,Application_1691306052,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1299098074,withdraw,2016-01-01 10:17:31.573000+00:00,Home improvement,New credit,Application_1691306052,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Created,User_1,W_Complete application,Workflow,Workitem_1703931302,schedule,2016-01-01 10:17:31.584000+00:00,Home improvement,New credit,Application_1691306052,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620621,620621,Created,User_44,O_Create Offer,Offer,Offer_1879818928,complete,2016-11-11 15:07:05.804000+00:00,Existing loan takeover,New credit,Application_1354066062,25000.0,25000.0,120.0,True,254.56,False,0.0,25000.0,NaN
620622,620622,statechange,User_44,O_Created,Offer,OfferState_975946794,complete,2016-11-11 15:07:06.388000+00:00,Existing loan takeover,New credit,Application_1354066062,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_1879818928
620623,620623,statechange,User_44,A_Cancelled,Application,ApplState_1775629292,complete,2016-11-11 15:09:00.488000+00:00,Existing loan takeover,New credit,Application_1354066062,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620624,620624,statechange,User_44,O_Cancelled,Offer,OfferState_2048261328,complete,2016-11-11 15:09:00.507000+00:00,Existing loan takeover,New credit,Application_1354066062,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_1879818928
620625,620625,Deleted,User_44,W_Complete application,Workflow,Workitem_1420117128,ate_abort,2016-11-11 15:09:00.515000+00:00,Existing loan takeover,New credit,Application_1354066062,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Assign a postion number to each row/process

In [15]:
def assign_position(df: pd.DataFrame) -> pd.DataFrame:
    # Count number of processes per trace/ID
    count_lst = df.groupby('case:concept:name').count()['lifecycle:transition'].tolist()
    position_lst_1 = [list(range(1, i + 1)) for i in count_lst]
    position_lst = []
    for i in position_lst_1:
        for j in i:
            position_lst.append(j)
    df['position'] = position_lst
    return df

In [16]:
df_train = assign_position(df_train)
df_val = assign_position(df_val)
df_test = assign_position(df_test)

# 2. Baseline Case Prediction (Only on Training Dataset)

## Select the most common action per position

In [22]:
position_df = df_train.groupby('position')
# .agg(pd.Series.mode)['concept:name'].to_frame()
# position_df['concept:name']

In [24]:
position_df.apply(print)

position
1      16308.0
2      16308.0
3      16308.0
4      16308.0
5      16308.0
        ...
176        1.0
177        1.0
178        1.0
179        1.0
180        1.0
Name: (Unnamed: 0, count), Length: 180, dtype: float64
position
1      310885.114913
2      310886.114913
3      310887.114913
4      310888.114913
5      310889.114913
           ...
176    419480.000000
177    419481.000000
178    419482.000000
179    419483.000000
180    419484.000000
Name: (Unnamed: 0, mean), Length: 180, dtype: float64
position
1      179124.217104
2      179124.217104
3      179124.217104
4      179124.217104
5      179124.217104
           ...
176              NaN
177              NaN
178              NaN
179              NaN
180              NaN
Name: (Unnamed: 0, std), Length: 180, dtype: float64
position
1           0.0
2           1.0
3           2.0
4           3.0
5           4.0
         ...
176    419480.0
177    419481.0
178    419482.0
179    419483.0
180    419484.0
Name: (Unnamed: 0, min), Length: 180, dtype: float64
position
1      155492.0
2      155493.0
3      155494.0
4      155495.0
5      155496.0
         ...
176    419480.0
177    419481.0
178    419482.0
179    419483.0
180    419484.0
Name: (Unnamed: 0, 25%), Length: 180, dtype: float64
position
1      310817.5
2      310818.5
3      310819.5
4      310820.5
5      310821.5
         ...
176    419480.0
177    419481.0
178    419482.0
179    419483.0
180    419484.0
Name: (Unnamed: 0, 50%), Length: 180, dtype: float64
position
1      466189.75
2      466190.75
3      466191.75
4      466192.75
5      466193.75
         ...
176    419480.00
177    419481.00
178    419482.00
179    419483.00
180    419484.00
Name: (Unnamed: 0, 75%), Length: 180, dtype: float64
position
1      620555.0
2      620556.0
3      620557.0
4      620558.0
5      620559.0
         ...
176    419480.0
177    419481.0
178    419482.0
179    419483.0
180    419484.0
Name: (Unnamed: 0, max), Length: 180, dtype: float64
position
1      16308.0
2      16308.0
3      16308.0
4      16308.0
5      16308.0
        ...
176        1.0
177        1.0
178        1.0
179        1.0
180        1.0
Name: (case:RequestedAmount, count), Length: 180, dtype: float64
position
1      16100.004175
2      16121.310773
3      16069.735166
4      16071.834994
5      16076.605904
           ...
176        0.000000
177        0.000000
178        0.000000
179        0.000000
180        0.000000
Name: (case:RequestedAmount, mean), Length: 180, dtype: float64
position
1      15388.141882
2      15551.777549
3      15540.792443
4      15670.245199
5      15684.807819
           ...
176             NaN
177             NaN
178             NaN
179             NaN
180             NaN
Name: (case:RequestedAmount, std), Length: 180, dtype: float64
position
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
176    0.0
177    0.0
178    0.0
179    0.0
180    0.0
Name: (case:RequestedAmount, min), Length: 180, dtype: float64
position
1      6000.0
2      6000.0
3      6000.0
4      6000.0
5      6000.0
        ...
176       0.0
177       0.0
178       0.0
179       0.0
180       0.0
Name: (case:RequestedAmount, 25%), Length: 180, dtype: float64
position
1      12500.0
2      12500.0
3      12500.0
4      12500.0
5      12500.0
        ...
176        0.0
177        0.0
178        0.0
179        0.0
180        0.0
Name: (case:RequestedAmount, 50%), Length: 180, dtype: float64
position
1      21000.0
2      21000.0
3      20500.0
4      20400.0
5      20400.0
        ...
176        0.0
177        0.0
178        0.0
179        0.0
180        0.0
Name: (case:RequestedAmount, 75%), Length: 180, dtype: float64
position
1      400000.0
2      400000.0
3      400000.0
4      400000.0
5      400000.0
         ...
176         0.0
177         0.0
178         0.0
179         0.0
180         0.0
Name: (case:RequestedAmount, max), Length: 180, dtype: float64
position
1      573.0
2      574.0
3      576.0
4      593.0
5      574.0
       ...
176      1.0
177      0.0
178      0.0
179      0.0
180      0.0
Name: (FirstWithdrawalAmount, count), Length: 180, dtype: float64
position
1      8692.228935
2      8152.251986
3      8098.778854
4      8282.581602
5      8661.763328
          ...
176       0.000000
177            NaN
178            NaN
179            NaN
180            NaN
Name: (FirstWithdrawalAmount, mean), Length: 180, dtype: float64
position
1      11306.769950
2      10311.040364
3       9487.290201
4      11179.322100
5      10553.486149
           ...
176             NaN
177             NaN
178             NaN
179             NaN
180             NaN
Name: (FirstWithdrawalAmount, std), Length: 180, dtype: float64
position
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
176    0.0
177    NaN
178    NaN
179    NaN
180    NaN
Name: (FirstWithdrawalAmount, min), Length: 180, dtype: float64
position
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
176    0.0
177    NaN
178    NaN
179    NaN
180    NaN
Name: (FirstWithdrawalAmount, 25%), Length: 180, dtype: float64
position
1      5000.0
2      5000.0
3      5446.5
4      5000.0
5      5050.0
        ...
176       0.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (FirstWithdrawalAmount, 50%), Length: 180, dtype: float64
position
1      12700.0
2      12000.0
3      12000.0
4      12000.0
5      12492.5
        ...
176        0.0
177        NaN
178        NaN
179        NaN
180        NaN
Name: (FirstWithdrawalAmount, 75%), Length: 180, dtype: float64
position
1      75000.0
2      75000.0
3      60000.0
4      75000.0
5      75000.0
        ...
176        0.0
177        NaN
178        NaN
179        NaN
180        NaN
Name: (FirstWithdrawalAmount, max), Length: 180, dtype: float64
position
1      573.0
2      574.0
3      576.0
4      593.0
5      574.0
       ...
176      1.0
177      0.0
178      0.0
179      0.0
180      0.0
Name: (NumberOfTerms, count), Length: 180, dtype: float64
position
1      82.034904
2      81.979094
3      81.486111
4      81.011804
5      80.524390
         ...
176    35.000000
177          NaN
178          NaN
179          NaN
180          NaN
Name: (NumberOfTerms, mean), Length: 180, dtype: float64
position
1      37.634869
2      35.356468
3      36.492331
4      35.842771
5      35.999010
         ...
176          NaN
177          NaN
178          NaN
179          NaN
180          NaN
Name: (NumberOfTerms, std), Length: 180, dtype: float64
position
1       6.0
2      10.0
3       6.0
4      10.0
5       6.0
       ...
176    35.0
177     NaN
178     NaN
179     NaN
180     NaN
Name: (NumberOfTerms, min), Length: 180, dtype: float64
position
1      55.0
2      57.0
3      56.0
4      56.0
5      56.0
       ...
176    35.0
177     NaN
178     NaN
179     NaN
180     NaN
Name: (NumberOfTerms, 25%), Length: 180, dtype: float64
position
1      75.0
2      72.5
3      75.0
4      72.0
5      72.0
       ...
176    35.0
177     NaN
178     NaN
179     NaN
180     NaN
Name: (NumberOfTerms, 50%), Length: 180, dtype: float64
position
1      120.0
2      120.0
3      120.0
4      120.0
5      120.0
       ...
176     35.0
177      NaN
178      NaN
179      NaN
180      NaN
Name: (NumberOfTerms, 75%), Length: 180, dtype: float64
position
1      180.0
2      180.0
3      180.0
4      180.0
5      180.0
       ...
176     35.0
177      NaN
178      NaN
179      NaN
180      NaN
Name: (NumberOfTerms, max), Length: 180, dtype: float64
position
1      573.0
2      574.0
3      576.0
4      593.0
5      574.0
       ...
176      1.0
177      0.0
178      0.0
179      0.0
180      0.0
Name: (MonthlyCost, count), Length: 180, dtype: float64
position
1      286.029372
2      277.720174
3      285.925955
4      273.459039
5      282.991307
          ...
176    250.000000
177           NaN
178           NaN
179           NaN
180           NaN
Name: (MonthlyCost, mean), Length: 180, dtype: float64
position
1      192.672012
2      186.651703
3      336.262384
4      186.007634
5      192.075161
          ...
176           NaN
177           NaN
178           NaN
179           NaN
180           NaN
Name: (MonthlyCost, std), Length: 180, dtype: float64
position
1       50.0
2       50.0
3       50.0
4       50.0
5       50.0
       ...
176    250.0
177      NaN
178      NaN
179      NaN
180      NaN
Name: (MonthlyCost, min), Length: 180, dtype: float64
position
1      152.8200
2      151.9725
3      151.8575
4      150.0000
5      153.0350
         ...
176    250.0000
177         NaN
178         NaN
179         NaN
180         NaN
Name: (MonthlyCost, 25%), Length: 180, dtype: float64
position
1      249.15
2      230.33
3      226.79
4      234.56
5      244.51
        ...
176    250.00
177       NaN
178       NaN
179       NaN
180       NaN
Name: (MonthlyCost, 50%), Length: 180, dtype: float64
position
1      351.2700
2      344.4475
3      343.5900
4      340.8000
5      350.0000
         ...
176    250.0000
177         NaN
178         NaN
179         NaN
180         NaN
Name: (MonthlyCost, 75%), Length: 180, dtype: float64
position
1      1693.78
2      1749.44
3      6673.83
4      1749.44
5      1498.21
        ...
176     250.00
177        NaN
178        NaN
179        NaN
180        NaN
Name: (MonthlyCost, max), Length: 180, dtype: float64
position
1      573.0
2      574.0
3      576.0
4      593.0
5      574.0
       ...
176      1.0
177      0.0
178      0.0
179      0.0
180      0.0
Name: (CreditScore, count), Length: 180, dtype: float64
position
1       328.898778
2       339.918118
3       344.654514
4       361.777403
5       337.090592
          ...
176    1030.000000
177            NaN
178            NaN
179            NaN
180            NaN
Name: (CreditScore, mean), Length: 180, dtype: float64
position
1      438.305303
2      438.984957
3      441.077330
4      448.407303
5      445.006244
          ...
176           NaN
177           NaN
178           NaN
179           NaN
180           NaN
Name: (CreditScore, std), Length: 180, dtype: float64
position
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
        ...
176    1030.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (CreditScore, min), Length: 180, dtype: float64
position
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
        ...
176    1030.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (CreditScore, 25%), Length: 180, dtype: float64
position
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
        ...
176    1030.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (CreditScore, 50%), Length: 180, dtype: float64
position
1       854.0
2       880.0
3       872.5
4       877.0
5       881.5
        ...
176    1030.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (CreditScore, 75%), Length: 180, dtype: float64
position
1      1099.0
2      1085.0
3      1119.0
4      1133.0
5      1124.0
        ...
176    1030.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (CreditScore, max), Length: 180, dtype: float64
position
1      573.0
2      574.0
3      576.0
4      593.0
5      574.0
       ...
176      1.0
177      0.0
178      0.0
179      0.0
180      0.0
Name: (OfferedAmount, count), Length: 180, dtype: float64
position
1      18588.132635
2      18187.804878
3      17332.612847
4      17678.650927
5      17912.179443
           ...
176     8000.000000
177             NaN
178             NaN
179             NaN
180             NaN
Name: (OfferedAmount, mean), Length: 180, dtype: float64
position
1      14213.206967
2      13568.890198
3      12769.564835
4      13289.727015
5      13148.999181
           ...
176             NaN
177             NaN
178             NaN
179             NaN
180             NaN
Name: (OfferedAmount, std), Length: 180, dtype: float64
position
1      5000.0
2      5000.0
3      5000.0
4      5000.0
5      5000.0
        ...
176    8000.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (OfferedAmount, min), Length: 180, dtype: float64
position
1      7500.0
2      8062.5
3      8000.0
4      8000.0
5      8000.0
        ...
176    8000.0
177       NaN
178       NaN
179       NaN
180       NaN
Name: (OfferedAmount, 25%), Length: 180, dtype: float64
position
1      15000.0
2      15000.0
3      15000.0
4      15000.0
5      15000.0
        ...
176     8000.0
177        NaN
178        NaN
179        NaN
180        NaN
Name: (OfferedAmount, 50%), Length: 180, dtype: float64
position
1      25000.0
2      24375.0
3      22125.0
4      23000.0
5      25000.0
        ...
176     8000.0
177        NaN
178        NaN
179        NaN
180        NaN
Name: (OfferedAmount, 75%), Length: 180, dtype: float64
position
1      75000.0
2      75000.0
3      75000.0
4      75000.0
5      75000.0
        ...
176     8000.0
177        NaN
178        NaN
179        NaN
180        NaN
Name: (OfferedAmount, max), Length: 180, dtype: float64

Unnamed: 0             count    None
                       mean     None
                       std      None
                       min      None
                       25%      None
                       50%      None
                       75%      None
                       max      None
case:RequestedAmount   count    None
                       mean     None
                       std      None
                       min      None
                       25%      None
                       50%      None
                       75%      None
                       max      None
FirstWithdrawalAmount  count    None
                       mean     None
                       std      None
                       min      None
                       25%      None
                       50%      None
                       75%      None
                       max      None
NumberOfTerms          count    None
                       mean     None
                       std      None
                       min      None
                       25%      None
                       50%      None
                       75%      None
                       max      None
MonthlyCost            count    None
                       mean     None
                       std      None
                       min      None
                       25%      None
                       50%      None
                       75%      None
                       max      None
CreditScore            count    None
                       mean     None
                       std      None
                       min      None
                       25%      None
                       50%      None
                       75%      None
                       max      None
OfferedAmount          count    None
                       mean     None
                       std      None
                       min      None
                       25%      None
                       50%      None
                       75%      None
                       max      None
dtype: object

## Merge the training dataset with with the predicted actions based on their position

In [6]:
df_train = pd.merge(df_train, position_df, on='position')
df_train

,Unnamed: 0,Action,org:resource,concept:name_x,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,...,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,position,concept:name_y
0,0,Created,User_1,A_Create Application,Application,Application_1691306052,complete,2016-01-01 10:16:11.500000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,W_Validate application
1,25,Obtained,User_30,W_Validate application,Workflow,Workitem_1522720538,resume,2016-01-07 11:34:12.366000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,W_Validate application
2,43,Created,User_19,W_Call after offers,Workflow,Workitem_1530416988,schedule,2016-01-02 11:06:53.310000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,W_Validate application
3,83,statechange,User_17,A_Concept,Application,ApplState_694592100,complete,2016-01-02 09:06:04.213000+00:00,Car,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,W_Validate application
4,134,Obtained,User_95,W_Validate application,Workflow,Workitem_576279767,resume,2016-01-27 13:29:52.530000+00:00,Car,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,W_Validate application
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620621,419480,Created,User_17,O_Create Offer,Offer,Offer_581651964,complete,2016-07-27 12:20:23.916000+00:00,Car,New credit,...,0.0,35.0,False,250.0,True,1030.0,8000.0,NaN,176,O_Create Offer
620622,419481,statechange,User_17,O_Created,Offer,OfferState_850958320,complete,2016-07-27 12:20:24.625000+00:00,Car,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_581651964,177,O_Created
620623,419482,statechange,User_17,O_Sent (mail and online),Offer,OfferState_1161686692,complete,2016-07-27 12:20:34.068000+00:00,Car,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_581651964,178,O_Sent (mail and online)
620624,419483,Released,User_17,W_Call after offers,Workflow,Workitem_1096231714,suspend,2016-07-27 12:25:54.440000+00:00,Car,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179,W_Call after offers
620625,419484,Deleted,User_27,W_Call after offers,Workflow,Workitem_1161917182,ate_abort,2016-08-01 10:03:01.062000+00:00,Car,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,W_Call after offers

# 3. Apply pre-computed prediction to Validation and Test datasets

## Validation dataset

In [7]:
# Count number of processes per trace/ID
df_val = pd.merge(df_val, position_df, on='position')

df_val.sort_values(by=['time:timestamp'], inplace=True)
df_val.rename(columns = {"concept:name_y":"baseline_action_pred", "concept:name_x":"concept:name"}, inplace=True)
df_val

,Unnamed: 0,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,...,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,position,baseline_action_pred
0,0,Created,User_1,A_Create Application,Application,Application_1878239836,complete,2016-01-01 13:35:26.422000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,W_Validate application
4078,1,statechange,User_1,A_Submitted,Application,ApplState_649299817,complete,2016-01-01 13:35:26.463000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,W_Validate application
8156,2,Created,User_1,W_Handle leads,Workflow,Workitem_1693495632,schedule,2016-01-01 13:35:26.664000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,W_Validate application
12234,3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1080257214,withdraw,2016-01-01 13:36:30.982000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,W_Validate application
16312,4,Created,User_1,W_Complete application,Workflow,Workitem_1531288681,schedule,2016-01-01 13:36:30.993000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,W_Validate application
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154543,150043,statechange,User_1,O_Cancelled,Offer,OfferState_516860315,complete,2016-11-13 07:00:36.337000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_869706358,88,W_Call after offers
154605,150044,Deleted,User_1,W_Call after offers,Workflow,Workitem_1599009653,ate_abort,2016-11-13 07:00:36.346000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89,W_Validate application
40604,148804,statechange,User_1,A_Cancelled,Application,ApplState_338161915,complete,2016-11-13 07:00:49.818000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,W_Validate application
44681,148805,statechange,User_1,O_Cancelled,Offer,OfferState_341732870,complete,2016-11-13 07:00:49.840000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_230690584,11,W_Validate application
48758,148806,Deleted,User_1,W_Call after offers,Workflow,Workitem_1959899819,ate_abort,2016-11-13 07:00:49.849000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,W_Validate application

## Test dataset

In [8]:
df_test = pd.merge(df_test, position_df, on="position")
df_test.sort_values(by=['time:timestamp'], inplace=True)
df_test.rename(columns={"concept:name_y":"baseline_action_pred", "concept:name_x":"concept:name"}, inplace=True)
df_test

,Unnamed: 0,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,...,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,position,baseline_action_pred
0,0,Created,User_1,A_Create Application,Application,Application_837911105,complete,2016-11-14 05:57:57.461000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,W_Validate application
751,1,statechange,User_1,A_Submitted,Application,ApplState_1692094008,complete,2016-11-14 05:57:59.458000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,W_Validate application
1502,2,Created,User_1,W_Handle leads,Workflow,Workitem_1100633268,schedule,2016-11-14 05:57:59.981000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,W_Validate application
17931,25,Created,User_41,A_Create Application,Application,Application_912681536,complete,2016-11-14 08:12:30.523000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,W_Validate application
18470,26,Created,User_41,W_Complete application,Workflow,Workitem_1334591020,schedule,2016-11-14 08:12:30.536000+00:00,Home improvement,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,W_Validate application
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24967,3727,Deleted,User_131,W_Call incomplete files,Workflow,Workitem_1308647312,ate_abort,2017-02-01 14:00:30.259000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,W_Validate application
25203,3728,Created,User_131,W_Validate application,Workflow,Workitem_1339594215,schedule,2017-02-01 14:00:30.272000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,W_Validate application
25431,3729,Obtained,User_131,W_Validate application,Workflow,Workitem_1697785565,start,2017-02-01 14:00:30.275000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,W_Validate application
25646,3730,statechange,User_131,A_Validating,Application,ApplState_1576288280,complete,2017-02-01 14:00:30.347000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,W_Validate application
25852,3731,Released,User_131,W_Validate application,Workflow,Workitem_997581455,suspend,2017-02-01 14:01:24.191000+00:00,Existing loan takeover,New credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,W_Validate application

### For easy exploration/correctness verification:

In [9]:
# Just dropping columns for easier inspection, this shouldn't go to the final version
# df_train.drop(df_train.columns.difference(['Action', 'concept:name_x', 'baseline_action_pred', 'position', 'lifecycle:transition']), 1, inplace=True)
# Save to csv for lookup
df_test.to_csv('baseline_case2.csv')